* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    border: none;
}

main {
    width: 100%;
    background-color: rgb(58, 63, 70);
    color: white;
}

/* Nav Styles START*/
header {
    width: 100%;
    background-color: black;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    padding: .7rem 1rem;
}

/* Este nav tiene el contenido */
.nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Logo styles */
.nav__img-container {
    width: auto;
    height: 100px;
}

.nav__img-container > img {
    max-height: 100%;
}

@media screen and (max-width: 395px) {
    
    .nav {
        justify-content: center;
    }

    .nav__img-container {
        width: auto;
        height: 100px;
    }
}

/* Links styles */
.nav__links-container {
    display: flex;
    gap: 20px;
}

.link {
    padding: .5rem 1rem;
    background-color: gray;

    --edge-size: .80rem;
    --border-width: .30rem;
    --border-color: linear-gradient(to bottom right, red, blue);
    --background-color: rgb(74, 74, 74);


    /*Este clip-path es para definir el "marco" del elemento, despues le definimos el background linear gradient en el pseudo elemento before*/
    clip-path: polygon(
        /*----Puntos del Background Linear Gradient----*/
        /*top left 1*/
        0% var(--edge-size), /*El primer valor se refiere a la longitud desde left hacia right, y el segundo valor desde top hacia bottom*/

        /*top left 2*/
        var(--edge-size) 0%, 
        
        /*top right*/
        100% 0, 

        /*bottom right 1*/
        100% calc(100% - var(--edge-size)), /*El valor de la derecha, antes era 80% pero usar porcentaje tiene un problema, que es que depende del contenido adentro y lo que yo quiero es que sea igual para todas las esquinas con este valor, asi que lo envolvemos en un calc()*/

        /*bottom right 2*/
        calc(100% - var(--edge-size)) 100%, 
        
        /*bottom left*/
        0 100%
        );

    position: relative;
    isolation: isolate; /*Segun Powell, esto crea un nuevo stacking context sin efectos secundarios y lo bueno de eso es que el "z-index: -2" definido en .link::before es relativo o encapsulado dentro de .link en lugar de ser relativo a la pagina entera como normalmente se supondria*/
}

.link::before,
.link::after {
    content: '';
    position: absolute;
    inset: 0; /*Segun Kevin Powell, esto es lo mismo que decir top, right, bottom y left sean 0*/
}

.link::before {
    background: var(--border-color);
    z-index: -2; /*Usualmente cuando Powell usa z-index en pseudo elements, le gusta ir al elemento al que se le aplica el pseudo-elemento (elemento padre) y definirle un isolation */
}

.link::after {
    background: var(--background-color);
    z-index: -1;

    clip-path: polygon(
        /*----Puntos del marco del Background Color Solid----*/
        /*top left 1*/
        var(--border-width)
        calc(var(--edge-size) + var(--border-width) * .5), /*Edit: Cambie el 0% por el .30rem porque el 0 hacia que el background solid se alinie exactamente igual que el background linear gradient que no me dejaba verlo, entonces al definir .30rem creo un efecto de borde falso usando las dos capas de pseudo elementos.
        Edit: Cambie el .30rem por la variable personalizada --border-width que tiene el mismo valor .30rem, y asi despues poder cambiar ESE valor en cualquier parte con solo modificar la variable*/

        /*top left 2*/
        calc(var(--edge-size) + var(--border-width) * .5) /*El primer valor se refiere a la longitud desde left hacia right, y el segundo valor desde top hacia bottom*/
        var(--border-width), 
        
        /*top right*/
        calc(100% - var(--border-width))
        var(--border-width), /*Al valor de la izquierda, que antes era solo un 100% nos traia un problema y es que significaba que el punto esta hasta el final de la coordenada izquierda, es decir desde la coordenada de la izquierda ocupaba toodo el espacio horizontal hasta la coordenada de la derecha, y no nos dejaba ver el background de linear gradient que esta debajo. Entonces lo envolvemos en un calc(), y cambiamos TODOS los 100% por 100% - .30rem*/

        /*bottom right 1*/
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),

        /*bottom right 2*/
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
        calc(100% - var(--border-width)), 
        
        /*bottom left*/
        var(--border-width)
        calc(100% - var(--border-width))
    );

    transition: clip-path .5s;
}

.link:hover::after,
.link:hover::after {
    clip-path: polygon(
        /*top left 1*/
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),

        /*top left 2*/
        calc(100% - var(--border-width))
        var(--border-width), 
        
        /*top right*/
        calc(100% - var(--border-width))
        var(--border-width),

        /*bottom right 1*/
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),

        /*bottom right 2*/
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
        calc(100% - var(--border-width)), 
        
        /*bottom left*/
        calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
        calc(100% - var(--border-width))
    );
}

.link a {
    color: white;
    font-weight: 600;
}

/* Nav Styles END*/



/*Hero Styles START*/

#hero {
    height: 100vh;
    background-image: url(../hero-bg.png);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

@media screen and (max-width: 395px) {
    #hero {
        height: 50vh;
        background-image: url(../hero-img.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero__img-container {
        display: none;
    }
}

.hero__text {
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.hero__text > h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero__text > p {
    max-width: 200px;
    width: 100%;
    margin: auto;
}

.hero__img-container {
    width: auto;
    max-height: 400px;
    height: 100%;
}

.hero__img-container > img {
    display: inline-block;
    width: auto;
    height: 100%;
    box-shadow: 0px 0px 15px 0px black;
}

/*Hero Styles END*/



/*Info Section/ o de Imagenes Styles START*/

#info-section {
    max-width: 1200px;
    width: 100%;
    margin: 4rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 60px 30px; /*El primer valor 60px es el row-gap que define el espaciado horizontal entre Filas. Y el 30px define el column-gap, es decir el espaciado vertical entre columnas*/
    flex-wrap: wrap;
}

.info-section__box {
    max-width: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-section__img-container {
    width: 200px;
    height: 200px;
}

.info-section__img-container > img {
    width: 100%;
    height: 100%;
}

/*Info Section/ o de Imagenes Styles END*/



/*Contact Section Styles START*/

#contact-section {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

form {
    max-width: 600px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group > input {
    height: 3rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1.3rem;
}

.fullNameGroup {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

textarea {
    padding: 1rem;
    resize: none;

}

.form-button {
    width: 100%;
    padding: 1rem 0;
    border-radius: 1.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 3px solid rgb(158, 158, 158);
    background-color: black;
    cursor: pointer;

    /* transition-property: border, background-color, color;
    transition-duration: .5s, 1.5s, 0s; */


    position: relative;
    overflow: hidden;
}

.form-button__text {
    position: relative;
    z-index: 10;
}

.form-button::after {
    content: '';
    width: 105%;
    height: 100%;
    position: absolute;
    background-color: gray;
    top: -110%;
    left: -10px;


    transition-property: top; /*Si comento esta propiedad, el efecto hover cortina sobre el boton igual funciona*/
    transition-duration: .4s;
    transition-timing-function: linear;

}

.form-button:hover::after {
    top: 0px;
}

.form-button:active {
    color: black;
    border-color: black;
    background-color: white;
}

.form-button:active::after {
    transition-property: top;
    transition-duration: 0s; /*Esta propiedad y la de arriba son para eliminar instantaneamente el pseudoelemento after que hace como un efecto hover de cortina*/
    top: -110%;
}

/*Contact Section Styles END*/



/*Footer Styles START*/

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: black;
    color: white;
}

.footerLeft {
    max-width: 300px;
    width: 100%;
    padding: 1rem;
}

.footerLeft__imgContainer {
    width: 100px;
    height: auto;

}

.footerLeft__imgContainer > img {
    width: 100%;
    height: auto;

}


.footerRight {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 100px;
}

h3 {
    margin-bottom: 10px;
}

.linksVerticalSpace {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.socials {
    display: inline-block;
    margin-right: 10px;
}

.contactLinkIcon {
    margin-right: 8px;
}









